<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where it' @ | 404</title>
    <link rel="stylesheet" href="css/404.css">
</head>
<body>
    <h1>404 Page Not Found</h1>
    <p>Oops! Very sorry, I didn't have time to create that page for you.. <br> Hope you'll settle for a pretty error message.</p>
    <div class="links">
        <a href="/events">Back to <span>events</span></a>
        <a href="/staff">Back to <span>staff</span></a>
    </div>
</body>
</html>