<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/verify.css">
    <script src="./js/verify.js" defer></script>
    <title>Staff | Verify</title>
</head>
<body>
    <main>
        <div class="logo"><img src="../imgs/logo.jpg" alt="logo"></div>
        <div class="brand">Where It's @</div>
        <div class="staff">STAFF</div>
        
        <form class="verify" >
            <textarea maxLength="6" autofocus name="verify-input" id="verify-input" class="verify-input" cols="24" rows="2" placeholder="Biljett&#10nummer"></textarea>
            <button class="verify-btn" type="submit">Verify ticket</button>
        </form>
        <div class="verified-container">
            <h2 class="verified-header"></h2>
        </div>
    </main>
</body>
</html>